html,
body {
  height: 100%;
  margin: 0;
}
.icons {
  color: white;
}
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}
.pageContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}
